In [23]:
import MySQLdb

# Open database connection
db = MySQLdb.connect("localhost","root","hack123","test" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# execute SQL query using execute() method.
cursor.execute("SELECT VERSION()")

# Fetch a single row using fetchone() method.
data = cursor.fetchone()
print "Database version : %s " % data

Database version : 5.7.22-0ubuntu0.16.04.1

In [24]:
sql = """CREATE TABLE IF NOT EXISTS test (
  id int(11) NOT NULL AUTO_INCREMENT,
  description varchar(45),
  PRIMARY KEY (id)
)"""

cursor.execute(sql)

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:7: Warning: Table 'test' already exists
  import sys

0L

In [25]:
sql = 'INSERT INTO test(description) VALUES ("Test 2")'
try:
   cursor.execute(sql)
   db.commit()
except:
   db.rollback()

In [26]:
sql = "SELECT * FROM test"
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Fetch all the rows in a list of lists.
   results = cursor.fetchall()
   for row in results:
      print row
except:
   print "Error: unable to fecth data"

(2L, 'Test 2')
(3L, 'Test 2')
(4L, 'Test 2')

In [27]:
sql = "UPDATE test SET description = 'sample' WHERE id = 1"
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

In [28]:
sql = "DELETE FROM test WHERE description = 'sample'"
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()